@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body a {
  color: green;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rsw-ce {
  @apply w-full  border  border-gray-400 bg-white py-2 px-2 mt-4 text-gray-400 rounded-sm focus:outline-none focus:border-b-2 focus:border-b-sky-700 text-xs;
}
.rsw-editor {
  @apply border-none rounded-none !important;
}

.rsw-toolbar {
  @apply border-none p-2 mt-3;
}

.rsw-ce:focus {
  outline: none !important;
}

.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
  color: gray;
}

.rsw-ce li > span {
  @apply text-gray-400 !important;
}

ol {
  @apply list-decimal list-inside text-xs text-gray-700;
}
rsw-ce ul {
  @apply list-disc list-inside text-xs text-gray-700;
}

.summary ul {
  @apply list-disc list-inside text-xs text-gray-700;
}
li > span {
  @apply text-gray-700 !important;
}
.summary > span {
  @apply text-gray-700 !important;
}
